@font-face {
  font-family: "iconfont"; /* Project id 3538935 */
  src: url('iconfont.woff2?t=1658732505794') format('woff2'),
       url('iconfont.woff?t=1658732505794') format('woff'),
       url('iconfont.ttf?t=1658732505794') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cangpeitubiao_huanhuorukutuihuoruku:before {
  content: "\e60f";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-jianhuo:before {
  content: "\e63a";
}

.icon-navicon-pdd:before {
  content: "\e655";
}

.icon-gongzuotai:before {
  content: "\e605";
}

.icon-icon_wendang-xian:before {
  content: "\e643";
}

.icon-duohangwenben:before {
  content: "\e668";
}

.icon-gongwenbao:before {
  content: "\e642";
}

.icon-lizhijiaojie:before {
  content: "\e606";
}

.icon-daishouhuo:before {
  content: "\e612";
}

.icon-jisuanjisuanshu:before {
  content: "\e60a";
}

.icon-shangjiadan:before {
  content: "\e65a";
}

.icon-rukudan:before {
  content: "\e67b";
}

.icon-chukudan:before {
  content: "\e67c";
}

.icon-cangpeitubiao_chukuhuanhuochuku-copy:before {
  content: "\eb1c";
}

